In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_csv("HR_comma_sep.csv.txt")
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [3]:
data.shape

(14999, 10)

In [4]:
data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [5]:
data.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [6]:
data.select_dtypes('object').columns

Index(['sales', 'salary'], dtype='object')

In [7]:
data.sales.value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: sales, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le=LabelEncoder()
ohe = OneHotEncoder()
ohe
le

LabelEncoder()

In [9]:
data_ohe=ohe.fit_transform(data[["sales"]])
data_ohe

<14999x10 sparse matrix of type '<class 'numpy.float64'>'
	with 14999 stored elements in Compressed Sparse Row format>

In [10]:
data_le=le.fit_transform(data[["sales"]])
data_le

array([7, 7, 7, ..., 8, 8, 8])

In [11]:
le.classes_

array(['IT', 'RandD', 'accounting', 'hr', 'management', 'marketing',
       'product_mng', 'sales', 'support', 'technical'], dtype=object)

In [12]:
data_ohe=pd.DataFrame(data_ohe.toarray(),columns=le.classes_)
data_ohe

,IT,RandD,accounting,hr,management,marketing,product_mng,sales,support,technical
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
14994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
14995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
14996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
14997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
14998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
dic={'low':1,'medium':2,'high':3}
data["salary"]=data["salary"].replace(dic)
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,1
1,0.80,0.86,5,262,6,0,1,0,sales,2
2,0.11,0.88,7,272,4,0,1,0,sales,2
3,0.72,0.87,5,223,5,0,1,0,sales,1
4,0.37,0.52,2,159,3,0,1,0,sales,1

In [14]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
mms

MinMaxScaler()

In [15]:
data[["number_project","satisfaction_level","last_evaluation"]]=mms.fit_transform(data[["number_project","satisfaction_level","last_evaluation"]])
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.318681,0.265625,0.0,157,3,0,1,0,sales,1
1,0.780220,0.781250,0.6,262,6,0,1,0,sales,2
2,0.021978,0.812500,1.0,272,4,0,1,0,sales,2
3,0.692308,0.796875,0.6,223,5,0,1,0,sales,1
4,0.307692,0.250000,0.0,159,3,0,1,0,sales,1

In [17]:
data=data.drop(columns="sales")
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,salary
0,0.318681,0.265625,0.0,157,3,0,1,0,1
1,0.780220,0.781250,0.6,262,6,0,1,0,2
2,0.021978,0.812500,1.0,272,4,0,1,0,2
3,0.692308,0.796875,0.6,223,5,0,1,0,1
4,0.307692,0.250000,0.0,159,3,0,1,0,1

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
promotion_last_5years    0
salary                   0
dtype: int64

In [18]:
X = data.drop('left', axis=1)
y = data['left']

In [20]:
X=X.dropna()
X.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
promotion_last_5years    0
salary                   0
dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [22]:
X_train.shape, X_test.shape

((11249, 8), (3750, 8))

In [23]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11249 entries, 5150 to 2732
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     11249 non-null  float64
 1   last_evaluation        11249 non-null  float64
 2   number_project         11249 non-null  float64
 3   average_montly_hours   11249 non-null  int64
 4   time_spend_company     11249 non-null  int64
 5   Work_accident          11249 non-null  int64
 6   promotion_last_5years  11249 non-null  int64
 7   salary                 11249 non-null  int64
dtypes: float64(3), int64(5)
memory usage: 790.9 KB

In [24]:
from sklearn.preprocessing import StandardScaler

In [25]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [26]:
X=X.dropna()
X.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
promotion_last_5years    0
salary                   0
dtype: int64

In [27]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

In [28]:
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [29]:
y_pred = rfc.predict(X_test)
y_pred

array([1, 0, 0, ..., 1, 0, 0], dtype=int64)

In [30]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9925333333333334

In [32]:
data.select_dtypes('object').columns

Index([], dtype='object')